.container{
    width: 100;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.header{
    display: flex;
    width: 500px;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    margin: auto;
    border-radius: 0.5em;
    font-size: 40px;
}